header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.4rem;
  width: 100%;
  max-width: 73.7rem;
}

.settings {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

span {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-primary);
  cursor: pointer;
  user-select: none;
}

.separator {
  width: 1px;
  height: 3.2rem;
  background: var(--separator-color);
}

.arrow-down {
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

input[type="range"] {
  width: 4rem;
  height: 2rem;
  cursor: pointer;
  background: var(--toggle-background);
  -webkit-appearance: none;
  border-radius: 10px;
  padding: 0 0.3rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
}

.moon-icon {
  margin-left: -0.4rem;
  color: var(--moon-icon);
}

@media screen and (min-width: 768px) {
  header {
    margin-bottom: 5.4rem;
  }

  span {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .separator {
    margin: 0 1rem;
  }

  .moon-icon {
    margin-left: 0.4rem;
  }
}

@media screen and (min-width: 1440px) {
  header {
    margin-bottom: 5.15rem;
  }
}
