.results {
  margin-top: 2.4rem;
}

.result-header {
  position: relative;
  margin-bottom: 3.2rem;
}

.word {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.9rem;
  color: var(--text-primary);
  margin-bottom: 0.8rem;
}

.icon-play {
  width: 4.8rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
}

.phonetic {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: var(--violet);
}

.part-of-speech {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 3.2rem;
}

.part-of-speech h3 {
  font-style: italic;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--text-primary);
}

.line {
  height: 1px;
  background: var(--separator-color);
  width: 100%;
}

.definitions h4 {
  margin: 3.2rem 0 0.3rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--text-secondary);
}

.definition ul {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  list-style: none;
  padding-left: 2rem;
}

.definition ul li::before {
  content: "\2022";
  color: #8f19e8;
  display: inline-block;
  width: 2rem;
  margin-left: -2rem;
}

.definition ul li {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: var(--text-primary);
  margin-top: 1.3rem;
}

.example {
  margin: 1.3rem 0 0 2.5rem;
}

.example span {
  font-family: "Lora";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: var(--text-secondary);
}

.synonyms {
  margin: 2.4rem 0 3.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.synonyms h4 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--text-secondary);
  margin-right: 1.4rem;
}

.synonyms span {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--violet);
}

.result-footer {
  border-top: 1px solid var(--separator-color);
  padding-top: 2.4rem;
  margin-top: 3.2rem;
}

.result-footer h3 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--text-secondary);
  text-decoration: underline;
  margin-bottom: 0.8rem;
}

.source-link {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.source-link a {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--text-primary);
  text-decoration-line: underline;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .results {
    margin-top: 4.3rem;
  }

  .result-header {
    margin-bottom: 4rem;
  }

  .word {
    font-size: 6.4rem;
    line-height: 7.7rem;
  }

  .icon-play {
    width: 7.5rem;
  }

  .phonetic {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }

  .part-of-speech {
    margin-bottom: 4rem;
  }

  .part-of-speech h3 {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }

  .definitions h4 {
    font-size: 2rem;
    line-height: 2.4rem;
    margin: 3.2rem 0 0.8rem;
  }

  .definition ul li {
    font-size: 1.8rem;
    line-height: 2.4rem;
    white-space: break-spaces;
  }

  .example span {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .synonyms {
    margin: 4rem 0;
  }

  .synonyms h4 {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-right: 2.2rem;
  }

  .synonyms span {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .result-footer {
    margin-top: 4rem;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .result-footer h3 {
    margin-bottom: 0;
  }
}
