.search-bar {
  position: relative;
  width: 100%;
  max-width: 73.6rem;
}

input[type="text"] {
  width: 100%;
  max-width: 73.6rem;
  height: 4.8rem;
  background: var(--searchbar-color);
  border-radius: 16px;
  border: none;
  padding: 0 2.4rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--text-primary);
  caret-color: #a445ed;
  font-family: inherit;
}

.search-bar.empty input[type="text"] {
  border: 1px solid #ff5252;
}

.error {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #ff5252;
  margin-top: 0.8rem;
  align-self: flex-start;
}

input[type="text"]::placeholder {
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--text-primary);
  opacity: 0.25;
}

input[type="text"]:focus {
  border: 1px solid #a445ed;
  outline: #a445ed;
  padding: 0 2.3rem;
}

.icon-search {
  position: absolute;
  right: 2.4rem;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.no-results {
  margin-top: 13.2rem;
  text-align: center;
}

.emoji {
  font-size: 6rem;
}

.no-results h2 {
  color: var(--text-primary);
  font-size: 2rem;
  line-height: 2.4rem;
  margin: 4.4rem 0 2.4rem;
}

.no-results p {
  color: var(--text-secondary);
  font-size: 1.8rem;
  line-height: 2.4rem;
}

@media screen and (min-width: 768px) {
  input[type="text"] {
    height: 6.4rem;
    font-size: 2rem;
    line-height: 2.4rem;
  }

  input[type="text"]::placeholder {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}
